.footer-completed{
    background-color: #4A4A4A;
    position:fixed;
    left:0px;
    bottom:0px;
    height:80px;
    width: 100%;

}

.sixty-percent{
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

.percentage-completed{
    vertical-align: top;
    padding-left: 13%;
    padding-top: 20px;
    width: 80%;
    display: inline-block;
    font-family: sans-serif;
}

.bar-completed{
    margin-top: 5px;
    width: 200px;
    height: 5px;
    border: white 1px solid white;
    border-radius: 10px;
    background-color: gray;
}

.progress{
    width: 10%;
    height: 5px;
    background-color: #FFFFFF;
}

.submit-everything{
    float: right;
    margin-top: 20px;
    display: inline-block;
    border: 3px solid white;
    border-radius: 3px;
    padding: 10px;
    font-family: sans-serif;
    margin-right: 10%;
}

.submit-everything:hover{
    background-color: white;
    color: #4A4A4A;
    cursor: pointer;
}
