.main-content {
    width: 60%;
    padding-top: 100px;
    margin-left: auto;
    margin-right: auto;
}


/*detail inline of each questions*/

.questions {
    padding-top: 75px;
}

.number {
    width: 10%;
    text-align: right;
}

.form-submit {
    width: 80%;
    padding-left: 30px;
}

.inline {
    display: inline-block;
    vertical-align: top;
    font-family: cabin;
    font-size: 22px;
}

.input-long-line {
    margin-top: 20px;
    margin-bottom: 20px;
    display: block;
    background: none;
    border-bottom: 1px solid white;
    width: 100%;
    font-size: 1.5em;
    outline: none;
    padding-bottom: 5px;
}

.input-long-line:focus {
    border: none;
}

.enter-button {
    margin-top: 20px;
    background: none;
    padding: 10px 20px 10px 20px;
    border: 1px solid white;
    border-radius: 3px;
    width: 20%;
    min-width: 100px;
    text-align: center;
    -webkit-transition: background-color 0.5s ease-out;
    -moz-transition: background-color 0.5s ease-out;
    -o-transition: background-color 0.5s ease-out;
    transition: background-color 0.5s ease-out
}

.enter-button:hover{
    cursor: pointer;
    background-color: #4A4A4A;

}

@media only screen and (max-width: 600px) {
    .main-content{
        padding-left: 10%;
    }
}
