.main-content {
    width: 60%;
    padding-top: 100px;
    margin-left: auto;
    margin-right: auto;
}


/*detail inline of each questions*/

.questions {
    padding-top: 100px;
}

.number {
    width: 10%;
    text-align: right;
}

.form-submit {
    width: 80%;
    padding-left: 30px;
}

.inline {
    display: inline-block;
    vertical-align: top;
    font-family: cabin;
    font-size: 22px;
}

.input-long-line {
    margin-top: 20px;
    margin-bottom: 20px;
    display: block;
    background: none;
    border-bottom: 1px solid white;
    width: 100%;
    font-size: 1.5em;
    outline: none;
    padding-bottom: 5px;
}

.input-long-line:focus {
    border: none;
}

.enter-button {
    margin-top: 20px;
    background: none;
    padding: 10px 20px 10px 20px;
    border: 1px solid white;
    border-radius: 3px;
    width: 20%;
    min-width: 100px;
    text-align: center;
    -webkit-transition: background-color 0.5s ease-out;
    -moz-transition: background-color 0.5s ease-out;
    -o-transition: background-color 0.5s ease-out;
    transition: background-color 0.5s ease-out
}

.enter-button:hover{
    cursor: pointer;
    background-color: #4A4A4A;

}
/*media*/
@media only screen and (max-width: 600px) {
    .main-content{
        padding-left: 10%;
        width: 80%;
    }
}

/*animation*/
.main-enter {
    opacity: 0.01;
}

.main-enter.main-enter-active {
    opacity: 1;
    transition: opacity 500ms ease-in;
}

.main-leave {
    opacity: 1;
}

.main-leave.main-leave-active {
    opacity: 0.01;
    transition: opacity 300ms ease-in;
}
