textarea {
    padding: 10px 10px 10px 10px;
    border: 1px solid white;
    border-radius: 3px;
    overflow-y: visible;
    height: 200px;
    width: 100%;
    font-size: 10px;
    font-weight: 100;
    margin-top: 20px;
    margin-bottom: 20px;
    display: block;
    background: none;
    border-bottom: 1px solid white;
    width: 100%;
    font-size: 1em;
    outline: none;
}

textarea:focus {
    border: none;
}
